SERVER_URL=https://devlayanan.opendesa.id/
KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczpcL1wvZGV2bGF5YW5hbi5vcGVuZGVzYS5pZCIsImlhdCI6MTYyNzM5MDQwMSwiZXhwIjoyMDU0ODk5MDQwMSwibmJmIjoxNjI3MzkwNDAxLCJqdGkiOiJjMWU0NDE0MTJhODJjMDU1ZDIyNjEwZTUxZjhhNTIyZDZmODBlYTM3NTExZjk5ZThhNGYwZDZmNWQxMzBmZmUyIiwic3ViIjoiNiIsInBydiI6ImY5MzA3ZWI1ZjI5YzcyYTkwZGJhYWVmMGUyNmYwMjYyZWRlODZmNTUifQ.otSyESu22jTLCsVcoQXyuIww_pElwtW0HPw2asmlAdA